@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Roboto+Mono:wght@300;400;700&display=swap");
$back-color: #f4f9f9;
$PrimColor: #33b0cc;
$SecColor: #000033;
$PrimText: "Montserrat", sans-serif;
$SecText: "Roboto Mono", monospace;

div#proyectspage {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90vw;
  height: 100%;
  margin-left: 60px;
  margin-top: 15vh;
  margin-bottom: 15vh;
  font-family: $SecText;
  padding-bottom: 5vh;
  @media screen and (max-width: 1300px) {
    margin-left: 0px;
    margin-top: -5vh;
    margin-bottom: -7vh;
  }

  div {
    display: flex;
  }

  ul {
    @media screen and (max-width: 1300px) {
      margin-top: 170px;
      margin-bottom: 100px;
    }
    @media screen and (max-width: 850px) {
      margin-top: 50px;
      margin-bottom: 30px;
    }
  }

  img {
    height: 70vh;
    padding: 0.5vh;
    @media screen and (max-width: 1300px) {
      height: 70vh;
    }
    @media screen and (max-width: 850px) {
      height: 22vh;
    }
  }

  img#hover {
    position: absolute;
    opacity: 0%;
  }

  img:hover#hover {
    opacity: 100%;
  }
}

div#proyectsDetails {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 100%;

  img#first {
    height: 100%;
    width: 650px;
    margin: 50px;
    margin-top: 100px;
    @media screen and (max-width: 1300px) {
      width: 400px;
    }
    @media screen and (max-width: 850px) {
      width: 82%;
      margin-top: 50px;
    }
  }

  img#tri {
    width: 21%;
    padding: 3rem;
    @media screen and (max-width: 850px) {
      width: 40%;
      padding: 20px;
    }
    @media screen and (max-width: 550px) {
      width: 90%;
      padding: 20px;
    }
  }

  video#tri {
    width: 21%;
    padding: 3rem;
    @media screen and (max-width: 850px) {
      width: 40%;
    }
    @media screen and (max-width: 550px) {
      width: 90%;
      padding: 20px;
    }
  }

  img#duo {
    width: 45%;
    padding-top: 2rem;
    padding-bottom: 2rem;
    @media screen and (max-width: 1300px) {
      width: 40%;
      padding: 20px;
    }
    @media screen and (max-width: 850px) {
      width: 80%;
    }
  }

  img#duoport {
    width: 35%;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border: 2px solid $PrimColor;
    @media screen and (max-width: 1300px) {
      width: 65%;
      padding: 20px;
    }
    @media screen and (max-width: 850px) {
      width: 65%;
    }
  }

  img#column {
    width: 50%;
    padding-top: 2rem;
    padding-bottom: 2rem;
    @media screen and (max-width: 1300px) {
      width: 63%;
    }
    @media screen and (max-width: 850px) {
      width: 80%;
    }

    @media screen and (max-width: 550px) {
      width: 95%;
      padding: 20px;
    }
  }

  video#column {
    width: 50%;
    padding-top: 2rem;
    padding-bottom: 2rem;
    @media screen and (max-width: 1300px) {
      width: 63%;
    }
    @media screen and (max-width: 850px) {
      width: 80%;
    }
    @media screen and (max-width: 550px) {
      width: 95%;
      padding: 20px;
    }
  }

  img#banner {
    width: 75%;
    @media screen and (max-width: 850px) {
      width: 110%;
      margin-bottom: 25px;
      margin-top: -50px;
    }
  }

  img#banner:hover {
    width: 73%;
    @media screen and (max-width: 850px) {
      width: 113%;
    }
  }

  div#start {
    display: flex;
    @media screen and (max-width: 850px) {
      flex-direction: column;
    }
  }

  div#text {
    margin-top: 100px;
    margin-right: 120px;
    @media screen and (max-width: 1300px) {
      margin-right: 80px;
      width: 80%;
    }

    @media screen and (max-width: 850px) {
      margin-left: 60px;
      margin-top: -20px;
      margin-bottom: -50px;
    }

    div#subtitle {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      @media screen and (max-width: 1300px) {
        font-size: 1rem;
      }
    }
    h1 {
      font-family: $PrimText;
      font-size: 3.5rem;
      margin: 0;
      @media screen and (max-width: 1300px) {
        font-size: 2.5rem;
      }
    }
    h2 {
      font-size: 1rem;
      color: $PrimColor;
      padding-left: 5px;
      @media screen and (max-width: 1300px) {
        padding-left: 0px;
      }
    }

    h3 {
      font-weight: 400;
      font-size: 1rem;
      @media screen and (max-width: 1300px) {
        font-size: 1rem;
      }

      @media screen and (max-width: 850px) {
        font-size: 0.8rem;
      }
    }
  }
  div#imagestri {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    @media screen and (max-width: 850px) {
      margin-top: 50px;
      margin-left: 40px;
      margin-right: 40px;
      margin-bottom: 50px;
    }
  }

  div#imagesduo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;

    @media screen and (max-width: 1300px) {
      margin-top: 50px;
      margin-bottom: 50px;
    }
    @media screen and (max-width: 850px) {
    }
  }

  div#imagescolumn {
    display: flex;
    flex-direction: row;
    align-items: center;
    @media screen and (max-width: 1300px) {
      flex-direction: column;
    }
  }

  div#columna {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 3rem;
    @media screen and (max-width: 1300px) {
      align-items: center;
    }
    @media screen and (max-width: 850px) {
      padding-bottom: 0px;
    }
  }

  div#columnb {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 3rem;
    @media screen and (max-width: 1300px) {
      flex-direction: column-reverse;
      @media screen and (max-width: 1300px) {
        align-items: center;
      }
    }
    @media screen and (max-width: 850px) {
      padding-top: 0px;
    }
  }
  div#banner {
    display: flex;
    justify-content: center;
    margin: 5%;
  }

  div#button {
    display: flex;
    justify-content: center;
  }

  button#gitbutton {
    width: 320px;
    height: 60px;
    font-family: $SecText;
    padding: 1.2rem;
    border-radius: 0%;
    margin: 5rem;
    margin-top: 1rem;
    border: solid $PrimColor 2px;
    background-color: #f4f9f9;
    @media screen and (max-width: 850px) {
      padding: 15px;
      margin: 15px;
    }
  }

  button#gitbutton:hover {
    font-weight: 700;
    background-color: $PrimColor;
    color: $back-color;
  }
}
