@import "../../utilities/variables";

div#home {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 2.5vw;
  width: 90vw;
  height: 55vh;
  margin-top: 180px;
  font-family: $SecText;
  @media screen and (max-width: 1300px) {
    margin-top: 100px;
    height: 65vh;
    width: 70vw;
    height: 65vh;
  }

  @media screen and (max-width: 850px) {
    flex-direction: column-reverse;
    margin-top: 20vh;
    width: 95vw;
    height: 43vh;
  }

  div#homeStart {
    @media screen and (max-width: 850px) {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0;
      margin-top: 10vh;
    }
  }

  h1#title {
    display: flex;
    justify-content: flex-end;
    font-family: $PrimText;
    font-size: 4rem;
    margin: 0px;
    margin-right: 50px;

    @media screen and (max-width: 1300px) {
      font-size: 2.5rem;
    }

    @media screen and (max-width: 850px) {
      margin-left: 35px;
      margin-right: 0;
      font-size: 1.5rem;
      justify-content: center;
    }
  }

  img#sub {
    display: fle;
    width: 590px;
    height: 12px;
    margin-bottom: -75px;
    margin-right: 45px;

    @media screen and (max-width: 1300px) {
      margin-bottom: -48px;
      width: 375px;
      height: 10px;
      margin-left: 250px;
    }
    @media screen and (max-width: 850px) {
      margin-bottom: -28px;
      margin-left: 80px;
      width: 225px;
      height: 8px;
    }
  }

  h3#subtitle {
    display: flex;
    justify-content: flex-end;
    margin-right: 50px;
    font-weight: 400;
    @media screen and (max-width: 1300px) {
      margin-left: 260px;
      font-size: 1rem;
    }

    @media screen and (max-width: 850px) {
      font-size: 0.8rem;
      width: 90%;
      margin: 1vh;
      margin-left: 35px;
    }
  }

  video#illus {
    width: 492px;
    height: 430px;

    @media screen and (max-width: 1300px) {
      width: 392px;
      height: 330px;
    }

    @media screen and (max-width: 850px) {
      width: 330px;
      display: flex;
    }
  }
}

div#present {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 35px;
  width: 90vw;
  height: 100%;
  margin: 50px;
  margin-top: 150px;
  font-family: $SecText;
  font-weight: 400;

  @media screen and (max-width: 850px) {
    margin: 0;
    margin-left: 5vw;
    margin-top: 32vh;
    width: 62vw;
  }

  h1#title {
    display: flex;
    justify-content: flex-start;
    font-family: $PrimText;
    font-size: 3rem;
    margin: 0px;
    margin-right: 50px;

    @media screen and (max-width: 1300px) {
      font-size: 2.5rem;
    }
    @media screen and (max-width: 850px) {
      margin: 0;
      font-size: 1.3rem;
      justify-content: center;
    }
  }

  img#sub {
    width: 510px;
    height: 12px;
    margin-bottom: -50px;
    margin-right: 45px;
    @media screen and (max-width: 1300px) {
      margin-bottom: -42px;
      width: 425px;
      height: 10px;
    }
    @media screen and (max-width: 850px) {
      margin-bottom: -23px;
      margin-left: 45px;
      width: 260px;
      height: 8px;
    }
  }

  h3 {
    width: 900px;
    font-weight: 400;

    @media screen and (max-width: 1300px) {
      font-size: 1rem;
    }

    @media screen and (max-width: 850px) {
      font-size: 0.8rem;
      width: 100%;
    }
  }

  div#habilidades {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @media screen and (max-width: 850px) {
      margin-top: 10px;
    }
  }

  img#habilidadesfondo {
    width: 80vw;
    height: 90vh;

    @media screen and (max-width: 850px) {
      width: 108vw;
      height: 60vh;
    }
  }

  img#habilidadesgraficas {
    width: 600px;
    position: absolute;
    @media screen and (max-width: 1300px) {
      width: 500px;
    }
    @media screen and (max-width: 850px) {
      width: 325px;
      margin-left: 40px;
    }
  }

  img#habilidadesgraficas:hover {
    width: 650px;
    border: 3px solid $SecColor;
    border-radius: 1.5%;
    position: absolute;
    @media screen and (max-width: 1300px) {
      width: 550px;
    }
    @media screen and (max-width: 850px) {
      width: 350px;
    }
  }
}

div#proyects {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 35px;
  width: 90vw;
  height: 100%;
  margin: 50px;
  margin-top: 50px;
  font-family: $SecText;
  font-weight: 400;
  @media screen and (max-width: 850px) {
    margin: 0px;
    width: 80vw;
  }

  h1#title {
    display: flex;
    justify-content: flex-start;
    font-family: $PrimText;
    font-size: 3rem;
    margin: 0px;

    @media screen and (max-width: 1300px) {
      font-size: 2.5rem;
    }

    @media screen and (max-width: 850px) {
      margin: 0;
      font-size: 1.5rem;
    }
  }

  img#sub {
    width: 430px;
    height: 12px;
    margin-bottom: -50px;

    @media screen and (max-width: 1300px) {
      margin-bottom: -42px;
      width: 365px;
      height: 10px;
    }

    @media screen and (max-width: 850px) {
      margin-bottom: -28px;
      width: 220px;
      height: 8px;
    }
  }

  ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
    width: 75vw;
    padding: 0px;
    @media screen and (max-width: 850px) {
      flex-direction: column;
      margin-left: -50px;
    }
  }

  img {
    width: 25vw;
    @media screen and (max-width: 850px) {
      width: 90vw;
    }
  }

  img#hover {
    position: absolute;
    opacity: 0%;
  }

  img:hover#hover {
    opacity: 100%;
  }
}

div#contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 35px;
  width: 90vw;
  height: 100%;
  margin: 50px;
  margin-top: 50px;
  font-family: $SecText;
  font-weight: 400;
  @media screen and (max-width: 850px) {
    margin: 0px;
    width: 80vw;
  }

  h1 {
    display: flex;
    justify-content: flex-start;
    font-family: $PrimText;
    font-size: 3rem;
    margin: 0px;

    @media screen and (max-width: 1300px) {
      font-size: 2.5rem;
    }

    @media screen and (max-width: 850px) {
      margin: 0;
      font-size: 1.5rem;
    }
  }

  img#sub {
    width: 300px;
    height: 12px;
    margin-bottom: -50px;
    @media screen and (max-width: 1300px) {
      margin-bottom: -42px;
      width: 250px;
      height: 10px;
    }
    @media screen and (max-width: 850px) {
      margin-bottom: -28px;
      width: 155px;
      height: 8px;
    }
  }

  h3 {
    width: 900px;
    font-weight: 400;
    @media screen and (max-width: 1300px) {
      font-size: 1rem;
    }

    @media screen and (max-width: 850px) {
      font-size: 0.8rem;
      width: 90%;
    }
  }
  div#buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    @media screen and (max-width: 850px) {
      flex-direction: column;
    }

    button {
      width: 320px;
      height: 60px;
      font-family: $SecText;
      padding: 1.2rem;
      border-radius: 0%;
      margin: 5rem;
      margin-top: 1rem;
      border: solid $PrimColor 2px;
      background-color: #f4f9f9;
      @media screen and (max-width: 850px) {
        padding: 15px;
        margin: 15px;
      }
    }

    button:hover {
      font-weight: 700;
      background-color: $PrimColor;
      color: $back-color;
    }
  }
}
