@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Roboto+Mono:wght@300;400;700&display=swap");
$back-color: #f4f9f9;
$PrimColor: #33b0cc;
$SecColor: #000033;
$PrimText: "Montserrat", sans-serif;
$SecText: "Roboto Mono", monospace;

//---

body {
  display: flex;
  color: $SecColor;
  background-color: $back-color;
  font-family: $SecText;
  font-weight: 400;
  margin: 0%;
  width: 100%;
  height: 100%;
  padding: 0%;
  position: relative;
  overflow-x: hidden;
}

div#root {
  width: 100%;
}

div#header {
  width: 95vw;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 30px;
  font-family: $SecText;
  padding: 30px;
  padding-bottom: 0;
  background-color: $back-color;
  z-index: 1;
  @media screen and (max-width: 850px) {
    justify-content: space-around;
    left: 0;
    padding-left: 6vw;
    padding-top: 6vw;
    background-color: transparent;
    margin-left: -20px;
  }

  ul {
    margin-right: 40px;
    @media screen and (max-width: 1300px) {
      margin-right: 40px;
    }

    @media screen and (max-width: 850px) {
      margin-right: -10px;
      padding: 0vh;
      background-color: $PrimColor;
      opacity: 95%;
      position: absolute;
      bottom: -85vh;
      border: solid 1.8px $back-color;
      border-radius: 6px;
    }
  }

  a {
    @media screen and (max-width: 850px) {
      font-size: 1.2rem;
    }
  }

  a:link {
    color: $SecColor;
    text-decoration: none;
    padding-right: 50px;

    @media screen and (max-width: 1300px) {
      padding-right: 40px;
    }
    @media screen and (max-width: 850px) {
      padding: 2vw;
    }
  }

  a:visited {
    color: $SecColor;
    @media screen and (max-width: 850px) {
      color: $back-color;
    }
  }

  a:hover {
    color: $PrimColor;
    font-weight: 700;
    @media screen and (max-width: 850px) {
      color: $SecColor;
    }
  }

  a:link#click {
    color: $SecColor;
    text-decoration: none;
    padding-right: 50px;
    font-weight: 700;
    @media screen and (max-width: 1300px) {
      padding-right: 40px;
    }
    @media screen and (max-width: 850px) {
      padding: 2vw;
    }
  }

  a#click:hover {
    color: $SecColor;
  }

  img#logo {
    display: flex;
    height: 30px;
    padding-top: 10px;
    cursor: pointer;
    @media screen and (max-width: 850px) {
      visibility: hidden;
      display: none;
    }
  }

  ul#navbar {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    @media screen and (max-width: 850px) {
      margin-left: 35px;
    }
  }

  span#codeBy {
    position: fixed;
    font-size: 0.6rem;
    transform-origin: bottom left;
    transform: rotate(-90deg);
    top: 90vh;
    left: 35px;
    @media screen and (max-width: 850px) {
      visibility: hidden;
      display: none;
    }
  }
}

div#sign {
  background-color: $PrimColor;
  color: $back-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: $SecText;
  height: 100%;
  width: 100vw;
  @media screen and (max-width: 850px) {
    width: 110vw;
  }

  img#logo {
    width: 244px;
    margin: 50px;
    margin-bottom: 50px;
    cursor: pointer;
    @media screen and (max-width: 850px) {
      margin: 30px;
      width: 244px;
    }
  }
  h3 {
    font-weight: 400;
    margin: 5px;
    @media screen and (max-width: 850px) {
      font-size: 0.8rem;
      margin-left: 80px;
      margin-right: 60px;
      margin-bottom: 0px;
    }
  }
  div#links {
    display: flex;
    margin: 2rem;
    @media screen and (max-width: 850px) {
      margin-bottom: 300px;
    }

    img {
      width: 40px;
      height: 40px;
      padding: 2rem;
      @media screen and (max-width: 850px) {
        width: 10vw;
        height: 10vw;
        padding-bottom: 0;
      }
    }
    img:hover {
      width: 50px;
      height: 50px;
      cursor: pointer;
      @media screen and (max-width: 850px) {
        width: 12vw;
        height: 12vw;
      }
    }
  }
}

div#home {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 2.5vw;
  width: 90vw;
  height: 55vh;
  margin-top: 180px;
  font-family: $SecText;
  @media screen and (max-width: 1300px) {
    margin-top: 100px;
    height: 65vh;
    width: 70vw;
    height: 65vh;
  }

  @media screen and (max-width: 850px) {
    flex-direction: column-reverse;
    margin-top: 20vh;
    width: 95vw;
    height: 43vh;
  }

  div#homeStart {
    @media screen and (max-width: 850px) {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0;
      margin-top: 10vh;
    }
  }

  h1#title {
    display: flex;
    justify-content: flex-end;
    font-family: $PrimText;
    font-size: 4rem;
    margin: 0px;
    margin-right: 50px;

    @media screen and (max-width: 1300px) {
      font-size: 2.5rem;
    }

    @media screen and (max-width: 850px) {
      margin-left: 35px;
      margin-right: 0;
      font-size: 1.5rem;
      justify-content: center;
    }
  }

  img#sub {
    display: fle;
    width: 590px;
    height: 12px;
    margin-bottom: -75px;
    margin-right: 45px;

    @media screen and (max-width: 1300px) {
      margin-bottom: -48px;
      width: 375px;
      height: 10px;
      margin-left: 250px;
    }
    @media screen and (max-width: 850px) {
      margin-bottom: -28px;
      margin-left: 80px;
      width: 225px;
      height: 8px;
    }
  }

  h3#subtitle {
    display: flex;
    justify-content: flex-end;
    margin-right: 50px;
    font-weight: 400;
    @media screen and (max-width: 1300px) {
      margin-left: 260px;
      font-size: 1rem;
    }

    @media screen and (max-width: 850px) {
      font-size: 0.8rem;
      width: 90%;
      margin: 1vh;
      margin-left: 35px;
    }
  }

  video#illus {
    width: 492px;
    height: 430px;

    @media screen and (max-width: 1300px) {
      width: 392px;
      height: 330px;
    }

    @media screen and (max-width: 850px) {
      width: 330px;
      display: flex;
      margin-left: 35px;
    }
  }
}

div#present {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 35px;
  width: 90vw;
  height: 100%;
  margin: 50px;
  margin-top: 150px;
  font-family: $SecText;
  font-weight: 400;

  @media screen and (max-width: 850px) {
    margin: 0;
    margin-left: 5vw;
    margin-top: 32vh;
    width: 80%;
  }

  h1#title {
    display: flex;
    justify-content: flex-start;
    font-family: $PrimText;
    font-size: 3rem;
    margin: 0px;
    margin-right: 50px;

    @media screen and (max-width: 1300px) {
      font-size: 2.5rem;
    }
    @media screen and (max-width: 850px) {
      margin: 0;
      font-size: 1.5rem;
      justify-content: center;
    }
  }

  img#sub {
    width: 510px;
    height: 12px;
    margin-bottom: -50px;
    margin-right: 45px;
    @media screen and (max-width: 1300px) {
      margin-bottom: -42px;
      width: 425px;
      height: 10px;
    }
    @media screen and (max-width: 850px) {
      margin-bottom: -28px;
      margin-left: 45px;
      width: 260px;
      height: 8px;
    }
  }

  h3 {
    width: 900px;
    font-weight: 400;

    @media screen and (max-width: 1300px) {
      font-size: 1rem;
    }

    @media screen and (max-width: 850px) {
      font-size: 0.8rem;
      width: 100%;
    }
  }

  div#habilidades {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @media screen and (max-width: 850px) {
      margin-top: 10px;
    }
  }

  img#habilidadesfondo {
    width: 80vw;
    height: 90vh;

    @media screen and (max-width: 850px) {
      width: 110vw;
      height: 60vh;
    }
  }

  img#habilidadesgraficas {
    width: 600px;
    position: absolute;
    @media screen and (max-width: 1300px) {
      width: 500px;
    }
    @media screen and (max-width: 850px) {
      width: 325px;
    }
  }

  img#habilidadesgraficas:hover {
    width: 650px;
    border: 3px solid $SecColor;
    border-radius: 1.5%;
    position: absolute;
    @media screen and (max-width: 1300px) {
      width: 550px;
    }
    @media screen and (max-width: 850px) {
      width: 350px;
    }
  }
}

div#proyects {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 35px;
  width: 90vw;
  height: 100%;
  margin: 50px;
  margin-top: 50px;
  font-family: $SecText;
  font-weight: 400;
  @media screen and (max-width: 850px) {
    margin: 0px;
  }

  h1#title {
    display: flex;
    justify-content: flex-start;
    font-family: $PrimText;
    font-size: 3rem;
    margin: 0px;

    @media screen and (max-width: 1300px) {
      font-size: 2.5rem;
    }

    @media screen and (max-width: 850px) {
      margin: 0;
      font-size: 1.5rem;
    }
  }

  img#sub {
    width: 430px;
    height: 12px;
    margin-bottom: -50px;

    @media screen and (max-width: 1300px) {
      margin-bottom: -42px;
      width: 365px;
      height: 10px;
    }

    @media screen and (max-width: 850px) {
      margin-bottom: -28px;
      width: 220px;
      height: 8px;
    }
  }

  ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
    width: 75vw;
    padding: 0px;
    @media screen and (max-width: 850px) {
      flex-direction: column;
      margin-left: -50px;
    }
  }

  img {
    width: 25vw;
    @media screen and (max-width: 850px) {
      width: 90vw;
    }
  }

  img#hover {
    position: absolute;
    opacity: 0%;
  }

  img:hover#hover {
    opacity: 100%;
  }
}

div#contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 35px;
  width: 90vw;
  height: 100%;
  margin: 50px;
  margin-top: 50px;
  font-family: $SecText;
  font-weight: 400;
  @media screen and (max-width: 850px) {
    margin: 0px;
  }

  h1 {
    display: flex;
    justify-content: flex-start;
    font-family: $PrimText;
    font-size: 3rem;
    margin: 0px;

    @media screen and (max-width: 1300px) {
      font-size: 2.5rem;
    }

    @media screen and (max-width: 850px) {
      margin: 0;
      font-size: 1.5rem;
    }
  }

  img#sub {
    width: 300px;
    height: 12px;
    margin-bottom: -50px;
    @media screen and (max-width: 1300px) {
      margin-bottom: -42px;
      width: 250px;
      height: 10px;
    }
    @media screen and (max-width: 850px) {
      margin-bottom: -28px;
      width: 155px;
      height: 8px;
    }
  }

  h3 {
    width: 900px;
    font-weight: 400;
    @media screen and (max-width: 1300px) {
      font-size: 1rem;
    }

    @media screen and (max-width: 850px) {
      font-size: 0.8rem;
      width: 90%;
    }
  }
  div#buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    @media screen and (max-width: 850px) {
      flex-direction: column;
    }

    button {
      width: 320px;
      height: 60px;
      font-family: $SecText;
      padding: 1.2rem;
      border-radius: 0%;
      margin: 5rem;
      margin-top: 1rem;
      border: solid $PrimColor 2px;
      background-color: #f4f9f9;
      @media screen and (max-width: 850px) {
        padding: 15px;
        margin: 15px;
      }
    }

    button:hover {
      font-weight: 700;
      background-color: $PrimColor;
      color: $back-color;
    }
  }
}

div#about {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-left: 80px;
  font-family: $SecText;
  @media screen and (max-width: 850px) {
    flex-direction: column-reverse;
    margin: 0;
    margin-top: 200px;
    height: 110vh;
  }

  div {
    width: 40vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15vh;
    @media screen and (max-width: 850px) {
      width: 80%;
      margin-left: 20px;
      margin-top: 7vh;
    }
  }

  h3 {
    font-weight: 400;
    @media screen and (max-width: 1300px) {
      font-size: 1rem;
    }
    @media screen and (max-width: 850px) {
      font-size: 0.8rem;
      width: 90%;
    }
  }

  button {
    width: 320px;
    height: 60px;
    font-family: $SecText;
    padding: 1.2rem;
    border-radius: 0%;
    margin-top: 2vh;
    border: solid $PrimColor 2px;
    background-color: #f4f9f9;
    @media screen and (max-width: 850px) {
      margin-bottom: 60px;
    }
  }

  button:hover {
    font-weight: 700;
    background-color: $PrimColor;
    color: $back-color;
  }

  img {
    margin-left: 10vw;
    margin-top: 1vw;
    width: 500px;
    @media screen and (max-width: 1300px) {
      width: 40vw;
    }
    @media screen and (max-width: 850px) {
      font-size: 0.8rem;
      width: 90%;
      margin-left: 10px;
    }
  }
}

div#proyectspage {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90vw;
  height: 100%;
  margin-left: 60px;
  margin-top: 15vh;
  margin-bottom: 15vh;
  font-family: $SecText;
  padding-bottom: 5vh;
  @media screen and (max-width: 1300px) {
    margin-left: 0px;
    margin-top: -5vh;
    margin-bottom: -7vh;
  }

  div {
    display: flex;
  }

  ul {
    @media screen and (max-width: 1300px) {
      margin-top: 170px;
      margin-bottom: 100px;
    }
    @media screen and (max-width: 850px) {
      margin-top: 0px;
      margin-bottom: 15px;
    }
  }

  img {
    height: 70vh;
    padding: 0.5vh;
    @media screen and (max-width: 1300px) {
      height: 70vh;
    }
    @media screen and (max-width: 850px) {
      height: 38vh;
    }
  }

  img#hover {
    position: absolute;
    opacity: 0%;
  }

  img:hover#hover {
    opacity: 100%;
  }
}

div#contactpage {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 92vw;
  height: 90vh;
  margin-left: 60px;
  font-family: $PrimText;
  margin-top: 15vh;
  @media screen and (max-width: 850px) {
    flex-direction: column;
    align-items: center;
    height: 140vh;
    margin-left: 20px;
    margin-top: 7vh;
    height: 100%;
  }

  div {
    width: 40vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    @media screen and (max-width: 850px) {
      width: 80vw;
    }
  }

  h3 {
    font-family: $SecText;
    font-weight: 400;
    margin-top: 0;
    @media screen and (max-width: 1300px) {
      font-size: 1rem;
    }
  }

  div#buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  button {
    width: 320px;
    height: 60px;
    font-family: $SecText;
    padding: 1.2rem;
    border-radius: 0%;
    margin: 1rem;
    margin-top: 1rem;
    border: solid $PrimColor 2px;
    background-color: #f4f9f9;
    @media screen and (max-width: 1300px) {
      margin-left: 30px;
    }
  }

  button:hover {
    font-weight: 700;
    background-color: $PrimColor;
    color: $back-color;
  }

  button#form {
    margin-right: 6rem;
    margin-top: 3rem;
    @media screen and (max-width: 1300px) {
      margin-top: 1rem;
      margin-left: 50px;
      margin-bottom: 70px;
    }
  }

  div#form {
    height: 80%;
    display: flex;
    align-items: flex-end;
    align-items: center;
    @media screen and (max-width: 1300px) {
      margin-left: 100px;
      margin-top: -100px;
      visibility: hidden;
      display: none;
    }
  }
  div#contactform {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #33b0cc;
    width: 500px;
    height: 100%;
    padding: 30px;
    margin-right: 50px;
    @media screen and (max-width: 1300px) {
      width: 300px;
      margin-left: -60px;
      margin-right: 0px;
      margin-bottom: 0px;
    }

    input {
      padding-left: 1rem;
      width: 39.7%;
      margin: 1rem;
      height: 25vh;
      border: 0px;
      font-family: $SecText;

      @media screen and (max-width: 1300px) {
        width: 33%;
      }
    }

    input#half1 {
      height: 4vh;
    }

    input#half2 {
      height: 4vh;
    }

    input#onea {
      width: 90%;
      height: 4vh;
    }

    textarea {
      margin: 1rem;
      padding-left: 1rem;
      padding-top: 1rem;
      border: 0px;
      font-family: $SecText;
      width: 90%;
      height: 25vh;
      resize: none;
    }
  }
}

div#proyectsDetails {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 100%;

  img#first {
    height: 100%;
    width: 650px;
    margin: 50px;
    margin-top: 100px;
    @media screen and (max-width: 1300px) {
      width: 400px;
    }
    @media screen and (max-width: 850px) {
      width: 82%;
      margin-top: 50px;
    }
  }

  img#tri {
    width: 21%;
    padding: 3rem;
    @media screen and (max-width: 850px) {
      width: 40%;
      padding: 20px;
    }
    @media screen and (max-width: 550px) {
      width: 90%;
      padding: 20px;
    }
  }

  video#tri {
    width: 21%;
    padding: 3rem;
    @media screen and (max-width: 850px) {
      width: 40%;
    }
    @media screen and (max-width: 550px) {
      width: 90%;
      padding: 20px;
    }
  }

  img#duo {
    width: 45%;
    padding-top: 2rem;
    padding-bottom: 2rem;
    @media screen and (max-width: 1300px) {
      width: 40%;
      padding: 20px;
    }
    @media screen and (max-width: 850px) {
      width: 80%;
    }
  }

  img#duoport {
    width: 35%;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border: 2px solid $PrimColor;
    @media screen and (max-width: 1300px) {
      width: 65%;
      padding: 20px;
    }
    @media screen and (max-width: 850px) {
      width: 65%;
    }
  }

  img#column {
    width: 50%;
    padding-top: 2rem;
    padding-bottom: 2rem;
    @media screen and (max-width: 1300px) {
      width: 63%;
    }
    @media screen and (max-width: 850px) {
      width: 80%;
    }

    @media screen and (max-width: 550px) {
      width: 95%;
      padding: 20px;
    }
  }

  video#column {
    width: 50%;
    padding-top: 2rem;
    padding-bottom: 2rem;
    @media screen and (max-width: 1300px) {
      width: 63%;
    }
    @media screen and (max-width: 850px) {
      width: 80%;
    }
    @media screen and (max-width: 550px) {
      width: 95%;
      padding: 20px;
    }
  }

  img#banner {
    width: 75%;
    @media screen and (max-width: 850px) {
      width: 115%;
      margin-bottom: 25px;
      margin-top: -50px;
    }
  }

  img#banner:hover {
    width: 73%;
    @media screen and (max-width: 850px) {
      width: 113%;
    }
  }

  div#start {
    display: flex;
    @media screen and (max-width: 850px) {
      flex-direction: column;
    }
  }

  div#text {
    margin-top: 100px;
    margin-right: 120px;
    @media screen and (max-width: 1300px) {
      margin-right: 80px;
      width: 80%;
    }

    @media screen and (max-width: 850px) {
      margin-left: 60px;
      margin-top: -20px;
      margin-bottom: -50px;
    }

    div#subtitle {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      @media screen and (max-width: 1300px) {
        font-size: 1rem;
      }
    }
    h1 {
      font-family: $PrimText;
      font-size: 3.5rem;
      margin: 0;
      @media screen and (max-width: 1300px) {
        font-size: 2.5rem;
      }
    }
    h2 {
      font-size: 1rem;
      color: $PrimColor;
      padding-left: 5px;
      @media screen and (max-width: 1300px) {
        padding-left: 0px;
      }
    }

    h3 {
      font-weight: 400;
      font-size: 1rem;
      @media screen and (max-width: 1300px) {
        font-size: 1rem;
      }

      @media screen and (max-width: 850px) {
        font-size: 0.8rem;
      }
    }
  }
  div#imagestri {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    @media screen and (max-width: 850px) {
      margin-top: 50px;
      margin-left: 40px;
      margin-right: 40px;
      margin-bottom: 50px;
    }
  }

  div#imagesduo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;

    @media screen and (max-width: 1300px) {
      margin-top: 50px;
      margin-bottom: 50px;
    }
    @media screen and (max-width: 850px) {
    }
  }

  div#imagescolumn {
    display: flex;
    flex-direction: row;
    align-items: center;
    @media screen and (max-width: 1300px) {
      flex-direction: column;
    }
  }

  div#columna {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 3rem;
    @media screen and (max-width: 1300px) {
      align-items: center;
    }
    @media screen and (max-width: 850px) {
      padding-bottom: 0px;
    }
  }

  div#columnb {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 3rem;
    @media screen and (max-width: 1300px) {
      flex-direction: column-reverse;
      @media screen and (max-width: 1300px) {
        align-items: center;
      }
    }
    @media screen and (max-width: 850px) {
      padding-top: 0px;
    }
  }
  div#banner {
    display: flex;
    justify-content: center;
    margin: 5%;
  }

  div#button {
    display: flex;
    justify-content: center;
  }

  button#gitbutton {
    width: 320px;
    height: 60px;
    font-family: $SecText;
    padding: 1.2rem;
    border-radius: 0%;
    margin: 5rem;
    margin-top: 1rem;
    border: solid $PrimColor 2px;
    background-color: #f4f9f9;
    @media screen and (max-width: 850px) {
      padding: 15px;
      margin: 15px;
    }
  }

  button#gitbutton:hover {
    font-weight: 700;
    background-color: $PrimColor;
    color: $back-color;
  }
}
